@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial {
  padding: 30px 100px;
}
article h1 {
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

article h1:after {
  content: "";
  height: 5px;
  width: 225px;
  background-color: #fff;
  display: block;
  margin: auto;
}

article img {
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 60px;
}

blockquote {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

article h5 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 1.5px;
}

article p {
  font-size: 17px;
  margin-top: 30px;
}

/* review */
@media (max-width: 678px) {
  .review {
    margin-top: 1.5rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100hv;
}

.rev-section {
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin-bottom: 0.5rem;
}

.note {
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
}
.reviews {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review {
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review {
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.body-review {
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
  box-shadow: 2px, 2px, 10px, 3px rgb(225, 225, 225);
}
.name-review {
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: 0.25rem;
}
.place-review {
  color: red;
  font-style: italic;
}
.rating {
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review {
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

/* CARD FLIP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #112;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.flip {
  position: relative;
  text-align: center;
}

.front,
.back {
  background-color: aliceblue;
  display: block;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.front {
  background-image: url(https://images.unsplash.com/photo-1573372688448-cbb03cf2701a?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.205);
  transform: rotateY(0);
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateY(-180deg);
}

.flip:hover .front {
  transform: rotateY(180deg);
}

.flip:hover .back {
  opacity: 1;
  transform: rotateY(0);
}
